.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.container {
  width: 80%;  
  margin:0% auto;
}

/* .about {
  max-width: 100%;
  height: 100vh;
  margin: 50px auto;
  display: flex;
  padding-right: 3%;
  padding-left: 3%;
  flex-direction: column;

}
.about-content {
  max-width: 80%;
  display: flex;
  flex-direction: row;
}
.about-img {
  background: url("./images/image5.webp");
  background-size: cover;
  margin: 5px 20px;
  max-width: 50vw;
  height: 50vh;
}

.about-quote {
  max-width: 50vw;
  height: 60vh;
  text-align: left;
  margin-left: 80px;
  float: right;
}
.about-quote p {
  font-size: 16px;
  line-height: 25px;;
  letter-spacing: 0.1rem;
  text-align: left;
  font-weight: lighter;
} */


/* START OF COPIED SECTION*/
.about {
  max-width: 100%;
  margin: 50px auto;
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
}
.aboutText {
  max-width: 50%;
  height: 60vh;
  text-align: left;
}
  h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(119, 116, 109);
  font-variant: small-caps;
}

.aboutText p {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: left;
  font-weight: lighter;
  color: rgb(235, 196, 148);
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.aboutText h4 {
  font-size: 16px;
  line-height: 25px;;
  letter-spacing: 0.1rem;
  text-align: left;
  font-weight: lighter;
  color: rgb(41, 31, 19);
}
.aboutPic {
 margin-top: 30px;
 padding-left: 100px;
}

button {
  width: 200px;
  height: 60px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  background-color: #9ab9f7;
  font-weight: lighter;
}

/* END OF COPIED SECTION */


#services::after {
  content: "";
  padding-top: 125px;
  padding-bottom: 100px;
  width: 100%;
  height: 70vh;
  filter: blur(10px);
  display: block;
  background: url("./images/lady.webp")  no-repeat 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#services:hover::after {
  filter: blur(0px);
}
.content {
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
#services .box,#plans .box2 {
  float: left;
  text-align: center;
  width: 30%;
  height: 60vh;
  padding: 5px;
  margin: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 5%;
}

#services img, #projects img{

  width: 300px;
  height: 150px;
  /* border-radius:15px 50px; */
}

#services h3, #projects h3{
  color: rgb(245, 166, 69);
  /* color: rgb(172, 132, 83); */
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  font-family: fantasy;
}

#services p {
  line-height: 20px;
  color: whitesmoke;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-variant: small-caps;
  letter-spacing: 3px;
  color: #f0d0c3;
}
.box, .box2 {  
  box-shadow:0 4px 10px 0 whitesmoke;
  background: rgb(119, 119, 119);
  
}

.box2 p {
  padding-top: 8px;
}

.vid {
  border: 1px solid salmon;
  margin: 20px 0 20px 20%;

}

#plans {
  width: 100%;
  height: 100vh;
}